* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center; /* выравнивание по вертикали */
    gap: 15px;
    background: #000;
    padding: 15px 30px;
}

.logo-img {
    width: 50px;
    height: auto;
}

.logo-text {
    display: flex;
    flex-direction: column; /* ВАЖНО: текст в колонку */
}

.logo {
    color: #FFD700;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0px;
}

.sub-logo {
    color: #fff09c;
    font-size: 14px;
    margin-top: 3px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #FFD700;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav a:hover {
    color: #FFD700;
}

nav a:hover::after {
    width: 100%;
}