/* панель */
.side-panel {
    position: fixed;
    left: -400px; /* спрятана */
    width: 350px;
    height: 55vh;

    margin-left: 1%;

    background: rgba(5, 17, 29, 0.75);
    backdrop-filter: blur(14px);

    border-left: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;

    z-index: 2000;

    transition: left 0.3s ease;
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.493);
}

/* активное состояние */
.side-panel.active {
    left: 0;
}

/* внутренности */
.panel-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    gap: 15px;
    overflow-y: auto;
}

.panel-content img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

.panel-content h2 {
    font-size: 20px;
}

.panel-content p {
    color: var(--text-secondary);
    flex-grow: 1; /* тянет текст, кнопка вниз */
}

/* кнопка */
.panel-btn {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: var(--accent);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    margin-top: auto;
}

.panel-btn:hover {
    background: var(--accent-hover);
}


.close-btn {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: rgb(255, 64, 64);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.close-btn:hover {
    background: var(--accent-hover);
}








/* =========================
   TABLET (<= 1024px)
========================= */
@media (max-width: 1024px) {

    .side-panel {
        width: 300px;
        height: 400px;
    }

    .panel-content img {
        height: 160px;
    }

    .panel-content h2 {
        font-size: 18px;
    }

    .panel-content p {
        font-size: 14px;
    }
}


/* =========================
   MOBILE (<= 768px)
========================= */
@media (max-width: 768px) {

    .side-panel {
        width: 100%;
        height: 400px;

        right: 0;
        bottom: -100%;
        top: auto;

        border-radius: 20px 20px 0 0;

        transition: bottom 0.4s ease;
    }

    .side-panel.active {
        bottom: 0;
    }

    .panel-content {
        padding: 15px;
    }

    .panel-content img {
        height: 150px;
    }

    .panel-content h2 {
        font-size: 16px;
    }

    .panel-content p {
        font-size: 13px;
    }

    .panel-btn,
    .close-btn {
        font-size: 13px;
        padding: 10px;
    }
}


/* =========================
   SMALL MOBILE (<= 480px)
========================= */
@media (max-width: 480px) {

    .side-panel {
        height: 400px;
    }

    .panel-content img {
        height: 130px;
    }

    .panel-content h2 {
        font-size: 15px;
    }

    .panel-content p {
        font-size: 12px;
    }
}